@model WebApp_22_11_2023.Models.Inventario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_maquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_maquina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_aquisicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_aquisicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preco_unitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preco_unitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.observacoes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_inventario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
