@model WebApp_22_11_2023.Models.CadMaquinas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CadMaquinas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_maquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_maquina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_maquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_maquina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status_maquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status_maquina)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_maquina">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
